@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  height: 100vh;
  background-color: #ffd5cd;
}
.main {
  height: 100%;
}
h1 {
  font-family: "Roboto", sans-serif;
}
.display-text {
  letter-spacing: 2px;
  /* font-size: 1.1rem; */
  border-radius: 5px;
  font-family: "Roboto Condensed", sans-serif;
}
